@page "/companies/add"
@page "/companies/edit/{CompanyId:int?}"
@rendermode InteractiveServer
<PageTitle>@(_isEditMode ? "Edit Company" : "Add Company")</PageTitle>

<EditForm Model="@_model" OnValidSubmit="SubmitCompanyAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Company Name</label>
        <InputText class="form-control" @bind-Value="_model.Name" />
    </div>

    <div class="mb-3">
        <label>City</label>
        <InputText class="form-control" @bind-Value="_model.City" />
    </div>

    <div class="mb-3">
        <label>State</label>
        <InputText class="form-control" @bind-Value="_model.State" />
    </div>

    <div class="mb-3">
        <label>Zip Code</label>
        <InputText class="form-control" @bind-Value="_model.ZipCode" />
    </div>

    <button type="submit" class="btn btn-primary">
        @(_isEditMode ? "Update" : "Submit")
    </button>
</EditForm>
